<div class="center-container">
<button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
  <a routerLink="/book/add">+</a>
</button>
</div>
<br />
<div class="table-responsive">
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Code</th>
        <th scope="col">Title</th>
        <th scope="col">Avaliable Copies</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bookList">
        <td scope="row">{{ item.id }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.numOfCopies }}</td>
        <td>
          <button mat-button color="warn" (click)="Delete(item.id)">
            Delete
          </button>
        </td>
        <td>
          <button mat-raised-button color="accent">
            <a [routerLink]="['/book', 'details', item.id]">Details</a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
