<div class="book-details">
  <span class="detail-label">ID:</span>
  <span class="detail-value">{{ book?.id }}</span>
  <span class="detail-label">Code:</span>
  <span class="detail-value">{{ book?.code }}</span>
  <span class="detail-label">Title:</span>
  <span class="detail-value">{{ book?.title }}</span>
  <span class="detail-label">Number of Copies:</span>
  <span class="detail-value">{{ book?.numOfCopies }}</span>
  <br />

  <div class="action-buttons">
    <button
      mat-flat-button
      color="primary"
      (click)="Borrow()"
      [disabled]="!borowedBook"
    >
      Borrow
    </button>
  </div>
</div>
